<mat-list *ngIf="news !== null">
  <ng-container *ngFor="let item of newsList?.news;">
    <mat-list-item  *ngIf="!item.is_deleted" (click)="openUrl(item);"> 
      <div class="title-author">
        <span *ngIf="item.story_title" class="title">{{ item.story_title }}.&nbsp; </span>
        <span *ngIf="item.title" class="title">{{ item.title }}.&nbsp; </span>
        <span *ngIf="item.author" class="author">- {{ item.author }} - </span>
      </div>
      <div *ngIf="item.created_at" class="float-right">
        <div class="row">
          <div class="created_at">
            <span *ngIf="item.created_at_day === currentDate.getDate(); else yesterday">{{ item.created_at | date:'shortTime' }}</span>
            <ng-template #yesterday>
              <span *ngIf="item.created_at_day === currentDate.getDate()-1; else beforeYesterday">Yesterday</span>
            </ng-template>
            <ng-template #beforeYesterday>
              <span>{{ item.created_at | date:'MMM dd'}}</span>
            </ng-template>
          </div>
          <div class="trash-can">
            <fa-icon [icon]="faTrash" (click)="deleteNews(item);"></fa-icon>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </ng-container>
</mat-list>
