mat-list-item {
    cursor: pointer;
    background-color: #fff;
    border: 1px #ccc;
}

mat-list-item:hover {
    background-color: #fafafa;
}

.title {
    color: #333;
    font-size: 13px;
}

.author {
    color: #999;
    font-size: 13px;
}

.float-right {
    color: #333;
    font-size: 13px;
    width: 30%;
    padding: 0px 31px;
}

.float-right span {
    float:right;
}

.title-author {
    width:70%;
    padding: 0px 31px;;
}

fa-icon{
    visibility: hidden;
}

mat-list-item:hover fa-icon{
    visibility: initial;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.created_at {
    width: 75%;
}

.trash-can {
    width: 15%;
    padding-left: 35px;
}